<!DOCTYPE html>
<html>
<head>
<title> The Watercooler </title>
<script src="http://192.168.1.100/frontend/themes/green_apple/js/jquery-1.3.2.min.js "></script>
<script>

</script>
<link rel="stylesheet" type="text/css" href="media/css/style.css" />
<script>
var username = '{{ user }}';
var url_updateChat = '{% url chat.views.updateChat %}';
var url_updateUserList = '{% url chat.views.updateUserlist %}';
var url_sendMessage = '{% url chat.views.sendMessage %}';
var url_init = '{% url chat.views.init %}';
</script>
<script src="/media/js/chat.js"></script>
</head>
<body>
<div id="container">
	<div id="timeout" style="display: none;">
		Your session has timed out, please close this window and restart your chat session.
	</div>
	<div id="header">
		<h1>The Watercooler</h1><span id="offline"><span>
	</div>
	<div id="userlist">
	</div>
	<div id="chatarea">
	</div>
	<div id="messagebox">
		<textarea id="messageinput" maxlength='140'></textarea>
	</div>
</div>
</body>
</html>